.Release {
  padding: 0;
  display: grid;
  color: rgb(102, 178, 214);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  background: rgb(38, 38, 38);
  border: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  p {
    margin: 1em;
  }
}
